@media only screen and (max-width:550px){
    body .main .content .all-cards .first-card,
    body .main .content .all-cards .second-card,
    body .main .content .all-cards .third-card,
    body .main .content .all-cards .fourth-card {
      padding: 20px 13px 30px 8px;
    }
}
@media only screen and (max-width: 850px) {
    body .main .content .all-cards {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow-x: none;
        width: 100%;
      }
      .main .content .all-cards .first-card,
      .main .content .all-cards .second-card,
      .main .content .all-cards .third-card,
      .main .content .all-cards .fourth-card {
        width: 78%;
      }
      .main .content .all-cards .first-card {
        margin-left: 0;
      }
      .main .content .all-cards .second-card {
        margin: 21px 0 0 0;
      }
      .main .content .all-cards .third-card,
      .main .content .all-cards .fourth-card {
        margin-right: 0;
      }
}
@media only screen and (max-width:1050px){
    body .all-cards .second-card .card-text-content div h1,
    body .all-cards .first-card .card-text-content div h1,
    body .all-cards .third-card .card-text-content div h1 {
      padding-right: 60px;
    }
}
@media only screen and (max-width:1450px){
    .fourth-card-text-content div {
        padding-right: 10px;
      }
      .main .content .all-cards {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
      }
      .content .all-cards .first-card,
      .content .all-cards .second-card,
      .content .all-cards .third-card,
      .content .all-cards .fourth-card {
        display: inline-block;
      }
      body .all-cards .second-card .card-text-content .second-card-main-image,
      body .all-cards .third-card .card-text-content .third-card-main-image,
      body .all-cards .first-card .card-text-content .first-card-main-image {
        height: 56px;
        width: 57px;
      }
      body .all-cards .second-card .card-value-content p,
      body .all-cards .first-card .card-value-content p {
        font-size: 10px;
      }
      body .all-cards .fourth-card .fourth-card-value-content .blue-card-month {
        font-size: 10px;
      }
      .first-card .card-text-content img {
        width: 32%;
      }
      .fourth-card .fourth-card-text-content img {
        width: 32%;
      }
      body .all-cards .fourth-card .fourth-card-text-content div h3 {
        font-size: 11px;
      }
      body .all-cards .fourth-card .fourth-card-text-content div h1 {
        font-size: 21px;
      }
      body .all-cards .second-card .card-text-content div h1,
      body .all-cards .first-card .card-text-content div h1,
      body .all-cards .third-card .card-text-content div h1 {
        font-size: 21px;
      }
      body .all-cards .second-card .card-text-content div h3,
      body .all-cards .first-card .card-text-content div h3,
      body .all-cards .third-card .card-text-content div h3 {
        font-size: 11px;
      }
}