@import "fonts.scss";
@import "./variables";
.all-applications {
  background: $whiteTone;
  border: 1px solid $blackBorderColor;
  border-radius: 4px;
  box-shadow: 0px 1px 0px $shadowdarkBlackTone,
    0px 1px 3px $shadowlightBlackTone;
  height: 517px;
  margin: 16px 21px 0 20px;
  padding: 24px;
  width: 30%;
  @include flexCenter(column, initial, initial);
  .last-applications {
    padding-top: 8px;
    @include flexCenter(row, flex-end, center);
    .view {
      text-align: right;
      text-decoration: none;
      @include styleTag(
        $blueTone,
        Roboto-Medium,
        14px,
        normal,
        500,
        -0.05px,
        20px
      );
      &:hover {
        text-decoration: underline;
      }
    }
    .direction {
      cursor: pointer;
      padding-left: 10px;
    }
  }
  .products {
    @include flexCenter(row, flex-start, center);
    .product-title {
      margin-bottom: 0;
      @include styleTag(
        $grayFirstTone,
        Roboto-Medium,
        16px,
        normal,
        500,
        -0.05px,
        20px
      );
    }
    .product-total {
      margin-bottom: 0;
      padding-left: 15px;
      @include styleTag(
        $graySecondTone,
        Roboto-Regular,
        12px,
        normal,
        normal,
        initial,
        16px
      );
    }
  }
  .applications {
    border-bottom: 1px solid $borderColor;
    margin-top: 25px;
    padding-bottom: 20px;
    @include flexCenter(row, space-between, center);
    .point {
      cursor: pointer;
    }
    .application-side {
      @include flexCenter(row, center, center);
      .application-image {
        height: 63px;
        width: 63px;
      }
      .applications-content {
        margin-left: 32px;
        .title {
          @include styleTag(
            $grayFirstTone,
            Roboto-Medium,
            16px,
            normal,
            500,
            -0.0571429px,
            20px
          );
        }
        .subtitle {
          margin-bottom: 0;
          @include styleTag(
            $graySecondTone,
            Roboto-Regular,
            12px,
            normal,
            normal,
            initial,
            16px
          );
        }
      }
    }
  }
}
