@import "fonts.scss";
@import "./variables";
.all-cards {
  @include flexCenter(row, initial, initial);
  .second-card {
    margin: 0 22px 0 23px;
  }
  .third-card {
    margin-right: 27px;
  }
  .first-card {
    margin-left: 19px;
  }
  .first-card,
  .second-card,
  .third-card {
    background: $whiteTone;
    border: 1px solid $blackBorderColor;
    border-radius: 4px;
    box-shadow: 0px 1px 0px $shadowdarkBlackTone,
      0px 1px 3px $shadowlightBlackTone;
    height: 152px;
    margin-top: 21px;
    padding: 20px 24px 30px 24px;
    width: 45%;
    @include flexCenter(column, initial, initial);
    @include flexCenter(column, initial, initial);
    .card-text-content {
      @include flexCenter(row, space-between, center);
      .first-card-main-image {
        background: $lightRedTone;
        border-radius: 50%;
        height: 64px;
        width: 64px;
        @include flexCenter(row, center, center);
        img {
          height: 28px;
          width: 28px;
        }
      }
      .second-card-main-image {
        background: $lightGreenTone;
        border-radius: 50%;
        height: 64px;
        width: 64px;
        @include flexCenter(row, center, center);
        img {
          height: 28px;
          width: 28px;
        }
      }
      .third-card-main-image {
        background: $blueTone;
        border-radius: 50%;
        height: 64px;
        width: 64px;
        @include flexCenter(row, center, center);
        img {
          height: 18px;
          width: 28px;
        }
      }
      div {
        @include flexCenter(column, center, flex-start);

        h3 {
          text-transform: uppercase;
          @include styleTag(
            $normalGrayTone,
            Roboto-Bold,
            12px,
            normal,
            bold,
            0.996px,
            16px
          );
        }
        h1 {
          padding-top: 8px;
          @include styleTag(
            $lightBlackTone,
            Roboto-Medium,
            24px,
            normal,
            500,
            -0.06px,
            28px
          );
        }
      }
    }
    .card-value-content {
      padding-top: 36px;
      @include flexCenter(row, flex-start, center);
      .overPicture1 {
        position: absolute;
      }
      .green-card-value {
        @include styleTag(
          $lightGreenTone,
          Roboto-Medium,
          12px,
          normal,
          500,
          -0.0375px,
          14px
        );
      }
      h6 {
        margin: 0 8px;
        @include styleTag(
          $darkRedColor,
          Roboto-Medium,
          12px,
          normal,
          500,
          -0.0375px,
          14px
        );
      }
      p {
        @include styleTag(
          $normalGrayTone,
          Roboto-Regular,
          12px,
          normal,
          normal,
          -0.0428571px,
          14px
        );
      }
      .card-image8 {
        height: 4px;
        width: 100%;
      }
      img {
        cursor: pointer;
        height: 5px;
      }
    }
  }
  .fourth-card {
    background: $rectColor;
    border: 1px solid $blackBorderColor;
    border-radius: 4px;
    box-shadow: 0px 1px 0px $shadowdarkBlackTone,
      0px 1px 3px $shadowlightBlackTone;
    height: 152px;
    margin-right: 27px;
    margin-top: 21px;
    padding: 20px 24px 30px 24px;
    width: 45%;
    @include flexCenter(column, initial, initial);
    .fourth-card-text-content {
      @include flexCenter(row, space-between, center);
      img {
        width: 48px;
      }
      div {
        @include flexCenter(column, center, flex-start);
        h3 {
          text-transform: uppercase;
          @include styleTag(
            $whiteTone,
            Roboto-Bold,
            12px,
            normal, bold,
            0.996px,
            16px
          );
        }
        h1 {
          padding-top: 8px;
          @include styleTag(
            $whiteTone,
            Roboto-Medium,
            24px,
            normal,
            500,
            -0.06px,
            28px
          );
        }
      }
    }
    .fourth-card-value-content {
      padding-top: 42px;
      @include flexCenter(row, flex-start, center);
      .card-image7 {
        cursor: pointer;
      }
      .blue-card-percent {
        margin: 0 8px;
        @include styleTag(
          $whiteTone,
          Roboto-Medium,
          12px,
          normal,
          500,
          -0.0375px,
          14px
        );
      }
      .blue-card-month {
        @include styleTag(
          $whiteTone,
          Roboto-Regular,
          12px,
          normal,
          normal,
          -0.0428571px,
          14px
        );
      }
    }
  }
}
