@import "./variables";
.content {
  width: 100%;
}
.apps-table {
  @include flexCenter(row, initial, initial);

  .MuiTableCell-body {
    width: 140px;
  }
}
.charts {
  padding: 21px 24px 16px 20px;
  @include flexCenter(row, space-between, initial);
}
