@import "./variables";
@import "fonts.scss";
#chart {
  max-width: 650px;
  padding-top: 21px;
}
.chart-all-content {

  background: $whiteTone;
  border: 1px solid $blackBorderColor;
  border-radius: 4px;
  box-shadow: 0px 1px 0px $shadowdarkBlackTone,
    0px 1px 3px $shadowlightBlackTone;

  height: 519px;
  width: 24%;
  @include flexCenter(column, initial, initial);
  .chart-header {

    border-bottom: 1px solid $borderColor;

    padding: 18px 24px 17px 24px;
    @include flexCenter(row, space-between, center);
    .chart-header-title {
      @include styleTag(
        $grayFirstTone,
        Roboto-Medium,
 16px,
 normal,
500,
-0.05px,
 20px
 
);
    
    }
    .chart-header-icon {
      height: 16px;
    }
  }
  .chartText {

    padding: 24px 0 38px 0;
    @include flexCenter(column, center, center);
  }
  .chart-content-container {
    @include flexCenter(row, space-between, center);

    .chart-content {

      padding: 10px 20px;
      @include flexCenter(column, center, center);
      .chart-title {
        @include styleTag(
          $graySecondTone,
         Roboto-Regular,
          12px,
         normal,
       normal,
          initial,
        16px
         
        );
     
        padding: 13px 0 8px 0;
        text-align: center;
      }
      .chart-value {
        @include styleTag(
          initial,
          Roboto-Medium,
         29px,
         normal,
          500,
          -0.241667px,
         32px
         
        );
        font-family: Roboto-Medium;
        font-size: 29px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.241667px;
        line-height: 32px;
      }
    }
  }
  .chart-last-side,
  .first-side,
  .second-side {
    @include flexCenter(row, initial, initial);
  }
  .chart-last-side {

    border-top: 1px solid $borderColor;

    padding: 10px;
    @include flexCenter(row, space-between, center);
    .first-side,
    .second-side {
      @include flexCenter(row, initial, center);
    }
    .first-side {
      p {
        @include styleTag(
          $grayFirstTone,
         Roboto-Medium,
         14px,
        normal,
         500,
         -0.05px,
         20px
         
        );
      
      }
    }
    .second-side {
      p {
        @include styleTag(
          $blueTone,
          Roboto-Medium,
          14px,
        normal,
        500,
        -0.05px,
        20px
         
        );
       
        text-align: right;
      }
    }
    .first-side-direction,
    .second-side-direction {
      height: 10px;
      padding-left: 6px;
    }
  }

}