@import "fonts.scss";
@import "./variables";
#enhanced-table {
  margin: 0 auto;
  padding: 0 24px 177px 17px;
  width: 100%;
  .MuiTablePagination-toolbar {
    .MuiSelect-select.MuiSelect-select {
      color: $blackTone;
      font-family: Roboto-Regular;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 14px;

      mix-blend-mode: normal;
      opacity: 0.54;
    }
    .MuiTablePagination-actions {
      button {
        color: $blackTone;
        mix-blend-mode: normal;
        opacity: 0.54;
      }
    }
    p {
      color: $blackTone;
      font-family: Roboto-Regular;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 14px;

      mix-blend-mode: normal;
      opacity: 0.54;
    }
  }
  .MuiTableRow-head {
    color: $grayFirstTone;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;

    letter-spacing: -0.05px;
    line-height: 20px;
    th :nth-child(1) {
      text-align: left;
    }
    .MuiTableCell-alignRight:nth-child(3),
    .MuiTableCell-alignRight:nth-child(4),
    .MuiTableCell-alignRight:nth-child(5) {
      text-align: left !important;
    }
  }
  .tableAvatarPic {
    color: $grayFirstTone;
    font-family: Roboto-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: -0.05px;
    line-height: 20px;
  }

  td:nth-child(3) {
    color: $grayFirstTone;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;

    letter-spacing: -0.05px;
    line-height: 20px;
  }
  td:nth-child(4) {
    color: $grayFirstTone;

    font-family: Roboto-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;

    letter-spacing: -0.05px;
    line-height: 20px;
    text-align: left;
  }
  td:nth-child(5) {
    color: $grayFirstTone;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;

    letter-spacing: -0.05px;
    line-height: 20px;
  }
  td:nth-child(6) {
    color: $graySecondTone;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.05px;
    line-height: 20px;
    text-align: right;
  }
  .Mui-selected {
    background: $lightBackgroundColor;
  }
  .email-table-size {
    width: 100%;
  }
  .tableRow {
    @include flexCenter(row, initial, center);

    img {
      padding-right: 12px;
    }
  }
  .tableAvatarPic {
    @include flexCenter(row, initial, center);

    img {
      padding-right: 12px;
    }
  }
}
