@import "fonts.scss";
@import "./variables";
#enhanced-table {
  margin: 0 auto;
  padding: 0 24px 177px 17px;
  width: 100%;
  .MuiTablePagination-toolbar {
    .MuiSelect-select.MuiSelect-select {
      mix-blend-mode: normal;
      opacity: 0.54;
      @include styleTag(
        $blackTone,
        Roboto-Regular,
        12px,
        normal,
        normal,
        initial,
        14px
      );
    }
    .MuiTablePagination-actions {
      button {
        color: $blackTone;
        mix-blend-mode: normal;
        opacity: 0.54;
      }
    }
    p {
      mix-blend-mode: normal;
      opacity: 0.54;
      @include styleTag(
        $blackTone,
        Roboto-Regular,
        12px,
        normal,
        normal,
        initial,
        14px
      );
    }
  }
  .MuiTableSortLabel-root{
    @include styleTag(
      $grayFirstTone,
      Roboto-Regular,
      14px,
      normal,
      normal,
      -0.05px,
      20px
    );
  }
  .MuiTableRow-head {
    
    @include styleTag(
      $grayFirstTone,
      Roboto-Regular,
      14px,
      normal,
      normal,
      -0.05px,
      20px
    );

    th :nth-child(1) {
      text-align: left;
    }
    .MuiTableCell-alignRight:nth-child(3),
    .MuiTableCell-alignRight:nth-child(4),
    .MuiTableCell-alignRight:nth-child(5) {
      text-align: left !important;
    }
  }
  .tableAvatarPic {
    @include styleTag(
      $grayFirstTone,
      Roboto-Medium,
      14px,
      normal,
      500,
      -0.05px,
      20px
    );
  }
  td:nth-child(3) {
    @include styleTag(
      $grayFirstTone,
      Roboto-Regular,
      14px,
      normal,
      normal,
      -0.05px,
      20px
    );
  }
  td:nth-child(4) {
    text-align: left;
    @include styleTag(
      $grayFirstTone,
      Roboto-Regular,
      14px,
      normal,
      normal,
      -0.05px,
      20px
    );
  }
  td:nth-child(5) {
    @include styleTag(
      $grayFirstTone,
      Roboto-Regular,
      14px,
      normal,
      normal,
      -0.05px,
      20px
    );
  }
  td:nth-child(6) {
    text-align: right;
    @include styleTag(
      $graySecondTone,
      Roboto-Regular,
      14px,
      normal,
      normal,
      -0.05px,
      20px
    );
  }
  .Mui-selected {
    background: $lightBackgroundColor;
  }
  .email-table-size {
    width: 100%;
  }
  .tableRow {
    @include flexCenter(row, initial, center);
    img {
      padding-right: 12px;
    }
  }
  .tableAvatarPic {
    @include flexCenter(row, initial, center);
    img {
      padding-right: 12px;
    }
  }
}
