#enhanced-table{
    padding: 0 24px 177px 17px;
    .Mui-selected{
        background: #F6F9FD;
    }
.tableRow{
    display: flex;align-items: center;
    img{
        padding-right: 12px;    }
}
.tableAvatarPic{
    display: flex;align-items: center;
    img{
        padding-right: 12px;
    }
}
}