@import "./variables";
@import "fonts.scss";
.footer-side {
  border-top: 1px solid $borderWhiteTone;
  display: flex;
  flex-direction: column;
  margin: 19px 30px 54px 20px;
  padding: 16px 0 0 0;
  h3 {
    color: $grayTitleColor;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
  }
  p {
    color: $graySubtitleColor;
    font-family: Roboto-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
