@import "./variables";
@import "fonts.scss";
.footer-side {
  border-top: 1px solid $borderWhiteTone;
  margin: 19px 30px 54px 20px;
  padding: 16px 0 0 0;
  @include flexCenter(column, initial, initial);
  h3 {
    @include styleTag(
      $grayTitleColor,
      Roboto-Regular,
      14px,
      normal,
      normal,
      initial,
      22px
    );
  }
  p {
    mix-blend-mode: normal;
    opacity: 0.5;
    @include styleTag(
      $graySubtitleColor,
      Roboto-Regular,
      12px,
      normal,
      normal,
      initial,
      18px
    );
  }
}
