@media only screen and (max-width: 550px){
  body .main .content .all-cards .first-card,
  body .main .content .all-cards .second-card,
 body .main .content .all-cards .third-card,
  body .main .content .all-cards .fourth-card{
    padding: 20px 13px 30px 8px;
  }
  .charts .chart-all-content .chart-content-container .chart-content .chart-value{
    font-size: 18px;
  }
  .charts .chart-all-content .chart-header .chart-header-title{
    font-size: 12px;
  }
  .charts .chart-all-content .chart-header .chart-header-icon{
    height: 13px;
  }
  .charts .chart-all-content .chart-last-side .first-side p {
    font-size:10px;
  }
  .charts .chart-all-content .chart-last-side .second-side p {
    font-size: 11px;
  }
  .main .content .charts .chart-all-content{
    height:70%;
  }


  .apps-table .all-applications .products .product-title{
    font-size: 12px;
  }
.apps-table .all-applications .applications .application-side .application-image{
    height: 43px;
    width: 46px;
  }
  .apps-table .all-applications .applications .application-side .applications-content .title{
    font-size: 12px;
  }
  .apps-table .all-applications .applications .application-side .applications-content .subtitle{
    font-size: 9px;
  }
  .apps-table .all-applications .applications .point{
    height: 13px;
  }
  .apps-table .all-applications .last-applications .view {
    font-size: 11px;
  }
  .apps-table .all-applications .last-applications .direction{
    height: 9px;
  }
  .apps-table .all-applications .products .product-total {
    font-size:10.6px;
  }
  body .App .apps-table .all-applications {
    padding: 6px;
    height: 447px;
  }
  body .App .apps-table .table-content{
    display: none;
  }
}


@media only screen and (max-width: 850px) {
  body .main .sidebar{
    display: none;
  }
  body .App .content{
    width: 100%;
  }
 body .main .content .footer-side p {
   font-size: 8.6px;
 }
  .main .content .charts{
    width: 100%;flex-direction: column;
  }
  .main .content .charts .all-progressbar-content{
    width: 100%;
    margin-bottom: 16px;
  }
  .main .content .charts .chart-all-content{
    width: 95%;
    margin: 0 auto;
  }
  body .main .content .all-cards {
    overflow-x: none;width: 100%;flex-direction: column;justify-content: center;
    align-items: center;
  }
  .main .content .all-cards .first-card,
  .main .content .all-cards .second-card,
  .main .content .all-cards .third-card,
  .main .content .all-cards .fourth-card{
    width: 78%;
  }
   .main .content .all-cards .first-card{
    margin-left: 0;
  }
  .main .content .all-cards .second-card{
    margin: 21px 0 0 0;
  }
   .main .content .all-cards .third-card,
   .main .content .all-cards .fourth-card{
    margin-right: 0;

  }
}



@media only screen and (max-width: 1050px) {


  body .all-cards .second-card .card-text-content div h1,
        body .all-cards .first-card .card-text-content div h1,
        body .all-cards .third-card .card-text-content div h1 {
    padding-right: 60px;
  }
  body .navbar-side .navbar-logo-link .navbar-logo h3{
    font-size: 20.7px;
  }
  body .navbar-side .navbar-logo-link .navbar-link{
    display: none;
  }
  body .apps-table{
    width: 100%;
    flex-direction: column;justify-content: center;align-items: center;
  }
  .main .content .footer-side h3{
    font-size: 12px;
  }
  .main .content .footer-side p{
    font-size:10px;
  }
  body .apps-table .all-applications,
  body .apps-table .table-content{
    width: 85% !important;
  }
}



@media only screen and (max-width: 1450px) {
   body .all-cards .second-card .card-text-content .second-card-main-image,
   body .all-cards .third-card .card-text-content .third-card-main-image,
   body .all-cards .first-card .card-text-content .first-card-main-image{
        width: 57px;height: 56px;
          }
          .content .footer-side h3{
            font-size: 13px;
          }
          .content .footer-side p{
            font-size:11px;
          }
        body .all-cards .second-card .card-text-content div h1,
        body .all-cards .first-card .card-text-content div h1,
        body .all-cards .third-card .card-text-content div h1{
font-size: 21px;

        }
        body .all-cards .second-card .card-text-content div h3,
        body .all-cards .first-card .card-text-content div h3,
        body .all-cards .third-card .card-text-content div h3{
          font-size:11px;
        }
        .apps-table .table-content .table-header .table-header-first-side .table-header-title {
          font-size: 12px;
        }
        .apps-table .table-content .table-header .table-header-first-side .table-header-value{
          font-size: 11px;
        }
        .apps-table .table-content .table-header .table-header-second-side .table-header-subtitle{
          font-size: 12px;
        }
        .apps-table .table-content .table-header .table-header-second-side .table-direction{
          height: 4px;
          padding-left: 10px;
        }
        .apps-table .table-content .table-header .table-header-second-side .table-button{
          font-size: 12px;
          padding: 5px 11px;
        }
        body .navbar-side .navbar-logo-link .navbar-logo h3{
          font-size: 14.7px;
        }
        .App .navbar-side .navbar-icons img{
padding-right: 11px;
        }
          .first-card .card-text-content img{
              width: 32%;
          }
          .fourth-card .fourth-card-text-content img{
              width: 32%;
          }
          body .all-cards .fourth-card .fourth-card-text-content div h3{
              font-size:11px;
          }
          body .all-cards .fourth-card .fourth-card-text-content div h1{
              font-size: 21px;
          }
          .main .content .all-cards{
            overflow-x:auto;
            width: 100%;
            white-space: nowrap; 
          }
         .content .all-cards .first-card,
         .content .all-cards .second-card,
         .content .all-cards .third-card,
           .content .all-cards .fourth-card{
            display:inline-block;
         
          }
  body .all-cards .second-card .card-value-content p,
  body .all-cards .first-card .card-value-content p
{
    font-size:10px;
}  
body .all-cards .fourth-card .fourth-card-value-content .blue-card-month {
font-size: 10px;
}
 .charts .all-progressbar-content{
      width: 59%;
  }
  .charts .chart-all-content{
      width: 39%;
  }
.fourth-card-text-content div{
    padding-right: 10px;
}
  .main .sidebar{
      width:20%;
  }
  .main .content{
      width: 80%;
  }
 
  .content .apps-table{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  body .apps-table .all-applications{
    width: 385px;
    padding: 15px;
  }
  
  body .apps-table .table-content{
    width: 50%;
  }
}
