@import "fonts.scss";
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar-side {
  background: $rectColor;
  width: 100%;
  @include flexCenter(row, space-between, center);
  .navbar-logo-link {
    @include flexCenter(row, initial, center);
    .navbar-logo {
      padding: 14px 0 14px 14px;
      @include flexCenter(row, center, center);
      h3 {
        padding-left: 8px;
        @include styleTag(
          $whiteTone,
          Roboto-Medium,
          20px,
          normal,
          500,
          -0.0555556px,
          24px
        );
      }
    }
    .navbar-link {
      background: $darkBackground;
      border-radius: 5px;
      margin-left: 34px;
      padding: 5px;
      padding-left: 7px;
      position: relative;
      @include flexCenter(row, center, center);
      p {
        margin-bottom: 0;
        margin-left: 14px;
        @include styleTag(
          $subtitleWhiteColor,
          Roboto-Regular,
          14px,
          normal,
          normal,
          initial,
          16px
        );
      }
      a {
        text-decoration: none;
        @include styleTag(
          $whiteTone,
          Roboto-Regular,
          14px,
          normal,
          normal,
          initial,
          16px
        );
      }
    }
  }
  .navbar-icons {
    img{
      cursor: pointer;
    }
    @include flexCenter(row, center, center);
    .navbar-second-iconImage {
      display: flex;
    }
    .navbar-burger-size {
      display: none;
      @media only screen and(max-width: 850px) {
        display: flex;
        height: 22px;
        padding-right: 32px;
        width: 20px;
      }
    }
    img {
      padding-right: 20px;
    }
  }
}
