@import "fonts.scss";
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-side {
  align-items: center;
  background: $rectColor;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .navbar-logo-link {
    align-items: center;
    display: flex;

    .navbar-logo {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 14px 0 14px 14px;
      h3 {
        color: $whiteTone;
        font-family: Roboto-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.0555556px;
        line-height: 24px;
        padding-left: 8px;
      }
    }
    .navbar-link {
      align-items: center;
      background: $darkBackground;

      border-radius: 5px;
      display: flex;
      justify-content: center;
      margin-left: 34px;
      padding: 5px;
      padding-left: 7px;
      position: relative;

      p {
        color: $subtitleWhiteColor;
        font-family: Roboto-Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        margin-bottom: 0;
        margin-left: 14px;
      }
      a {
        text-decoration: none;
        color: $whiteTone;
        font-family: Roboto-Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
      }
      
    }
  }

  .navbar-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    .navbar-second-iconImage {
      display: flex;
    }
    .navbar-burger-size {
      display: none;
      @media only screen and(max-width: 850px) {
        display: flex;
        height: 22px;
        padding-right: 32px;
        width: 20px;
      }
    }
    img {
      padding-right: 20px;
    }
  }
}
