@import "fonts.scss";
@import "./variables";
.all-progressbar-content {
  background: $whiteTone;
  border: 1px solid $blackBorderColor;
  border-radius: 4px;
  box-shadow: 0px 1px 0px $shadowdarkBlackTone,
    0px 1px 3px $shadowlightBlackTone;
  display: flex;
  flex-direction: column;
  height: 519px;
  justify-content: center;
  width: 74%;

  .header-side-progressBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 18px 15px 0 18px;
    h2 {
      color: $grayFirstTone;
      font-family: Roboto-Medium;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: -0.05px;
      line-height: 20px;
    }
    .header-second-side {
      align-items: center;
      display: flex;
      p {
        color: $grayFirstTone;
        font-family: Roboto-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.05px;
        line-height: 20px;
        padding-right: 9px;
      }
      img {
        cursor: pointer;
        height: 6px;
      }
    }
  }
  .last-side-progressBar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 9px 15px 0 0;
    h4 {
      color: $blueTone;
      font-family: Roboto-Medium;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: -0.05px;
      line-height: 20px;
      padding-right: 9px;
    }
    img {
      cursor: pointer;
      height: 10px;
      width: 6px;
    }
  }
  #progress-chart {
    border-bottom: 1px solid $borderColor;
    width: 100%;
  }
}
