@import "fonts.scss";
@import "./variables";
.all-progressbar-content {
  background: $whiteTone;
  border: 1px solid $blackBorderColor;
  border-radius: 4px;
  box-shadow: 0px 1px 0px $shadowdarkBlackTone,
    0px 1px 3px $shadowlightBlackTone;
  height: 519px;
  width: 74%;
  @include flexCenter(column, center, initial);
  .apexcharts-text tspan {
    @include styleTag(
      $spanGrayTone,
      Roboto-Regular,
      13px,
      normal,
      normal,
      -0.05px,
      16px
    );
    text-align: right;
    mix-blend-mode: normal;
    opacity: 0.85;
  }
  .header-side-progressBar {
    padding: 18px 15px 0 18px;
    @include flexCenter(row, space-between, center);
    h2 {
      @include styleTag(
        $grayFirstTone,
        Roboto-Medium,
        16px,
        normal,
        500,
        -0.05px,
        20px
      );
    }
    .header-second-side {
      @include flexCenter(row, initial, center);
      p {cursor: pointer;
        padding-right: 9px;
        select{
         border: none;outline: none;
         
          padding: 5px;
          background-color: #34bcd4;
          color: white;
        
          font-family: inherit;
      
        }
        @include styleTag(
          $grayFirstTone,
          Roboto-Medium,
          14px,
          normal,
          500,
          -0.05px,
          20px
        );
      }
      img {
        cursor: pointer;
        height: 6px;
      }
    }
  }
  .last-side-progressBar {
    padding: 9px 15px 0 0;
    @include flexCenter(row, flex-end, center);
    h4 {
      cursor: pointer;
      padding-right: 9px;
      @include styleTag(
        $blueTone,
        Roboto-Medium,
        14px,
        normal,
        500,
        -0.05px,
        20px
      );
    }
    img {
      cursor: pointer;
      height: 10px;
      width: 6px;
    }
  }
  #progress-chart {
    border-bottom: 1px solid $borderColor;
    width: 100%;
  }
}
