@import "fonts.scss";
@import "./variables";

.all-menu-links {

  padding-top: 200px;
  text-align: left;
  @include flexCenter(column, initial, center);
}
.navLinks {

  margin-bottom: 18px;
  @include flexCenter(row, center, center);
}
.subNavLinks {

  height: 40px;

  width: 180px;
  @include flexCenter(row, center, center);
  a {
    color: $whiteTone;
    font-family: Roboto-Medium;
    padding-left: 10px;
    text-decoration: none;
  }
}
