.all-menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  text-align: left;
}
.navLinks {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.subNavLinks {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 180px;
  a {
    color: white;
    padding-left: 10px;
    text-decoration: none;
  }
}
