@import "fonts.scss";
.search-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 27px 33px 24px;

   

  .add {
    display: flex;
    align-items: center;
    background: #1665D8;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
padding: 10px 16px;
border: none;outline: none;
cursor: pointer;
border-radius: 4px;
h2{
    font-family: Roboto-Medium;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;
color: #FFFFFF;
}
img{
    padding-right: 14px;
}
  }
  .search-content-first-side {
    display: flex;
    align-items: center;
  input{
    // border: 0px transparent !important;outline:0px transparent !important;
    // variant: none !important;
      &:hover{
          border: 0px transparent !important;outline:0px transparent !important;
      }
      &:focus{
        border: 0px transparent !important;outline:0px transparent !important;
      }

  }
    .filter {
      cursor: pointer;
      border-radius: 4px;
      background: #ffffff;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
      border: none;
      outline: none;
      margin-right: 28px;
      padding: 8px 22px;
      display: flex;
      align-items: center;
      h2 {
        font-family: Roboto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #3a3b3f;
      }
      img {
        padding-right: 8px;
      }
    }
    .MuiOutlinedInput-input {
      padding: 12.5px 0;
    }
    input::placeholder {
      font-family: Roboto-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.05px;
      color: #9ea0a5;
    }
    .MuiOutlinedInput-adornedStart {
      width: 520px;
      height: 32px;
      padding-left: 0;
      background: #ffffff;
      box-shadow: 0px 0px 0px #E4E7EB;
      outline: none !important;
     
      button {
        padding: 4px 14px;
      }
    }
    fieldset{
      border: none !important;
    }
  }
}
