@import "fonts.scss";
.search-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 27px 33px 24px;
  width: 100%;
  .search-content-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    .filter-mob {
      align-items: center;
      background: #ffffff;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: none;
      outline: none;

      padding: 8px 22px;
      h2 {
        color: #3a3b3f;
        font-family: Roboto-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 1.25px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
      }
      img {
        padding-right: 8px;
      }
    }

    .add {
      align-items: center;
      background: #1665d8;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: flex;
      outline: none;
      padding: 10px 16px;
      h2 {
        color: #ffffff;
        font-family: Roboto-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 1.25px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
      }
      img {
        padding-right: 14px;
      }
    }
  }

  .search-content-first-side {
    align-items: center;
    display: flex;
    input {
      // border: 0px transparent !important;outline:0px transparent !important;
      // variant: none !important;
      &:hover {
        border: 0px transparent !important;
        outline: 0px transparent !important;
      }
      &:focus {
        border: 0px transparent !important;
        outline: 0px transparent !important;
      }
    }
    .filter {
      align-items: center;
      background: #ffffff;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: flex;
      margin-right: 28px;
      outline: none;
      padding: 8px 22px;
      h2 {
        color: #3a3b3f;
        font-family: Roboto-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 1.25px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
      }
      img {
        padding-right: 8px;
      }
    }

    .MuiOutlinedInput-input {
      padding: 12.5px 0;
    }
    input::placeholder {
      color: #9ea0a5;
      font-family: Roboto-Regular;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.05px;
      line-height: 16px;
    }
    .MuiOutlinedInput-adornedStart {
      background: #ffffff;
      box-shadow: 0px 0px 0px #e4e7eb;
      height: 32px;
      outline: none !important;
      padding-left: 0;
      width: 520px;

      button {
        padding: 4px 14px;
      }
    }
    fieldset {
      border: none !important;
    }
  }
}
