@import "fonts.scss";
@import "./variables";

.sidebar {
  align-items: flex-start;
  background: $whiteTone;
  border: 1px solid $blackBorderColor;
  box-shadow: 0px 1px 0px $shadowdarkBlackTone,
    0px 1px 3px $shadowlightBlackTone;
  display: flex;
  flex-direction: column;
  height: 1016px;
  justify-content: flex-start;
  padding: 0 16px;
  width: 270px;
  .avatar {
    align-items: center;
    border-bottom: 1px solid $borderColor;
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: center;
    width: 100%;
    h5 {
      margin: 16px 0 0 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  .side-NavLinks {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    .sidebar-support-side {
      align-items: flex-start;
      // padding: 13px;
      border-top: 1px solid $borderColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h4 {
        color: $textBlackTone;
        font-family: Roboto-Medium;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        margin: 24px 0 8px 0;
      }
      .supportLink {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding: 13px;
        width: 236px;
        &:hover {
          background: $lightBackgroundColor;
          border-radius: 4px;
          box-shadow: inset 3px 0px 0px $blueLightTone;
        }
        .support {
          color: $normalGrayTone;
          font-family: Roboto-Medium;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.05px;
          line-height: 20px;
          padding-left: 10px;
          text-decoration: none;
          &:hover {
            color: $lightBlackTone;
          }
        }
      }
    }
    .navLinks {
      cursor: pointer;
      &:nth-child(6) {
        margin-bottom: 16px;
      }
      &:hover {
        background: $lightBackgroundColor;
        border-radius: 4px;
        box-shadow: inset 3px 0px 0px $blueLightTone;

        .list {
          color: $lightBlackTone;
        }
        svg {
          rect {
            fill: $rectColor;
          }
        }
      }

      .list {
        color: $normalGrayTone;
        font-family: Roboto-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.05px;
        line-height: 20px;
        padding-left: 10px;
        text-decoration: none;
      }
    }
    .subNavLinks {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: 13px;
      width: 236px;
      img {
        cursor: pointer;
        rect {
          &:hover {
            fill: $rectColor;
          }
        }
      }
    }
  }
}
