@import "fonts.scss";
@import "./variables";

.sidebar {
  background: $whiteTone;
  border: 1px solid $blackBorderColor;
  box-shadow: 0px 1px 0px $shadowdarkBlackTone,
    0px 1px 3px $shadowlightBlackTone;
  height: 1016px;
  padding: 0 16px;
  width: 270px;
  @include flexCenter(column, flex-start, flex-start);
  .avatar {
    border-bottom: 1px solid $borderColor;
    height: 170px;
    width: 100%;
    @include flexCenter(column, center, center);
    h5 {
      margin: 16px 0 0 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .side-NavLinks {
    padding-top: 24px;
    width: 100%;
    @include flexCenter(column, initial, initial);
    .sidebar-support-side {
      border-top: 1px solid $borderColor;
      @include flexCenter(column, center, flex-start);
      h4 {
        margin: 24px 0 8px 0;
        @include styleTag(
          $textBlackTone,
          Roboto-Medium,
          13px,
          normal,
          500,
          initial,
          15px
        );
      }
      .supportLink {
        padding: 13px;
        width: 236px;
        @include flexCenter(row, flex-start, center);
        &:hover {
          background: $lightBackgroundColor;
          border-radius: 4px;
          box-shadow: inset 3px 0px 0px $blueLightTone;
        }
        .support {
          padding-left: 10px;
          text-decoration: none;
          @include styleTag(
            $normalGrayTone,
            Roboto-Medium,
            14px,
            normal,
            500,
            -0.05px,
            20px
          );
          &:hover {
            color: $lightBlackTone;
          }
        }
      }
    }
    .navLinks {
      cursor: pointer;
      &:nth-child(6) {
        margin-bottom: 16px;
      }
      &:hover {
        background: $lightBackgroundColor;
        border-radius: 4px;
        box-shadow: inset 3px 0px 0px $blueLightTone;
        .list {
          color: $lightBlackTone;
        }
        svg {
          rect {
            fill: $rectColor;
          }
        }
      }
      .list {
        padding-left: 10px;
        text-decoration: none;
        @include styleTag(
          $normalGrayTone,
          Roboto-Medium,
          14px,
          normal,
          500,
          -0.05px,
          20px
        );
      }
    }
    .subNavLinks {
      padding: 13px;
      width: 236px;
      @include flexCenter(row, flex-start, center);
      img {
        cursor: pointer;
        rect {
          &:hover {
            fill: $rectColor;
          }
        }
      }
    }
  }
}
